
#album_change_datetime_picker_form {
  .start-date {
    width: 47.7%;
    float: left;
  }
  .end-date {
    width: 47.5%;
    float: right;
  }
  .rdtPicker {
    position: static;
    width: 100%;
    margin-top: 15px;
  }
  .buttons {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
  }
}