
// Album locations
#album_map{
  position: absolute;
  width: 100%;
  height: 100%;
  .locations-bar {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 5px 8px;
    height: 45px;
    z-index: 1;
    color: $white;
    .search-input-group {
      display: inline-block;
      .search-input {
        background-color: $white;
        padding: 5px 10px;
        margin-top: 4px;
        border-top-left-radius: 5px;
        width: 200px;
      }
    }
    .controls {
      float: right;
      margin-right: 50px;
      .edit-switch {
        margin-top: 5px;
      }
    }
  }
  .map-container {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
  }
  .map-items-list {
    background-color: $white;
    display: inline-block;
    width: 60px;
    position: absolute;
    right: 0;
    top: 45px;
    bottom: 0;
    .item {
      display: inline-block;
      position: relative;
      width: 54px;
      height: 54px;
      border: 1px solid $grey;
      margin-left: 3px;
      margin-top: 3px;
      cursor: default;
      img {
        width: 100%;
      }
      &.video {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        i {
          color: $white;
          font-size: 18px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
