.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Generic Modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .modal-dialog {
    position: relative;
    max-width: 600px;
    padding: 0 10px;
    margin: 30px auto;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-title {
    margin: 0;
    font-size: 20px;
    line-height: 25px;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
  // Modal efects
  &.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
         -o-transition:      -o-transform .3s ease-out;
            transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
         -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
// User Modal
.modal-type-user {
  .modal-dialog {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    @include break(xxs) {
      width: 98%;
    }
  }
  .modal-content {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-title {
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    .title{
      background: rgba(255,255,255,0.3);
      margin-left: -15px;
      padding: 3px 20px;
    }
    .sp-replacer{
      display: none!important;
    }
  }
  .modal-body {
    padding: 10px;
  }
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
  // Modal efects
  &.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
         -o-transition:      -o-transform .3s ease-out;
            transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
         -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

// Modal Backdrop
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: $black;
  &.fade {
    @include opacity(0);
  }
  &.in {
    @include opacity(0.5);
  }
}


