
[hidden] {
    display: none !important;
}

.uploader-dropzone-container {
  .dropzone-text {
    font-size: 36px;
    left: 0;
    opacity: 0.25;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 100%;
    .icon {
      display: inline-block;
      font-size: 58px;
    }
  }
  .counter {
    position: absolute;
  }
  &.active {
    background-color: rgba(0,0,0,0.5);
  }
}

.uploader-total-progress-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: rgba(0,0,0,.25);
  .progress-bar {
    background: $blue;
    height: inherit;
  }
}

.uploader-files {
  clear: both;
}

.uploader-file {
  background-color: rgba(0,0,0,0.2);
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.22);
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  line-height: 16px;
  vertical-align: top;
  @include border-radius(3px);
  .uploader-thumbnail {
    display: inline-block;
    text-align: center;
    .thumbnail {
      display: block;
      margin: 0 auto;
      @include vertical-align(relative)
    }
    .placeholder {
      &.not-available {
        font-size: 22px;
        opacity: 0.2;
        .icon {
          padding-top: 50px;
          font-size: 100px;
        }
      }
    }
  }
  .uploader-progress-bar {
    display: inline-block;
    background: rgba(0,0,0,.25);
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    top: 235px;
    @include opacity(0.75);
    .progress-bar {
      background: $blue;
      height: inherit;
    }
  }
  .footer {
    padding: 0 5px;
    .status-bar {
      display: inline-block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      .status {
        display: inline-block;
        float: left;
        font-style: italic;
        font-size: 15px;
      }
      .icons {
        float: right;
        .icon {
          display: inline-block;
          position: relative;
          margin-left: 2px;
          font-size: 19px;
          &.success {color:$green}
          &.failed {color:$red}
        }
      }
    }
    .info {
      display: inline-block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      .filename {
        display: inline-block;
        float: left;
        font-weight: 700;
        font-size: 15px;
      }
      .filesize {
        display: block;
        float: right;
      }
    }
  }
  .remove-button {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 30px;
    color: rgba(80,80,80,0.75);
    cursor: pointer;
    &:hover {
      color: $grey;
    }
  }
}

.react-fine-uploader-gallery-files-enter {
    opacity: 0.01;
}
.react-fine-uploader-gallery-files-enter.react-fine-uploader-gallery-files-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.react-fine-uploader-gallery-files-leave {
    opacity: 1;
}
.react-fine-uploader-gallery-files-leave.react-fine-uploader-gallery-files-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.react-fine-uploader-gallery-dropzone-active  {
    background: #FDFDFD;
    border: 2px solid #00ABC7;
}

.react-fine-uploader-gallery-file-input-container:hover {
    background: #33B6CC;
}
.react-fine-uploader-gallery-file-input-container:focus {
    outline: 1px dotted #000000;
}
