
#album_create_page { 
  .form-wrapper {
    width: 25%;
    padding: 25px 20px;
  }
  #album_create_form {
    max-width: 400px;
    margin: 0 auto;
  }
  .uploader-wrapper {
    width: 75%;
    padding: 25px;
    padding-top: 47px;
  }
}