
#login_wrapper {
  background-color: $green;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.login-container {
  max-width: 360px;
  padding: 8% 10px 0;
  margin: auto;
}
#login_form {
  position: relative;
  z-index: 1;
  background: $white;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px 10%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  input {
    font-family: Arial, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
  }
  button {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    @include transition(all 0.3s ease);
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
  .alert {
    position: absolute;
    bottom: 14px;
    left: 10%;
    right: 10%;
    text-align: center;
    color: red;
    box-sizing: border-box;
  }

  &.form-error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

}




@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}